body{
  background-color: var(--bg-color);
}

@font-face {
  font-family: Caviar Dreams;
  src: url("fonts/caviardreams.ttf");
}
         
@font-face {
  font-family: Caviar Dreams;
  src: url("fonts/caviardreams_bold.ttf");
  font-weight: bold;
}

.i img{
display: none;
}

.card1{
margin-top: 37vh;
}

.card{
background-color: transparent;
}

#p1 {
font-family: Caviar Dreams;
font-weight: bold;
font-size: 20px;
color: var(--text-color);
}

.line-wobble {
--uib-size: 80px;
--uib-speed: 1.55s;
--uib-color: var(--load);
--uib-line-weight: 5px;
display: flex;
height: var(--uib-line-weight);
width: var(--uib-size);
border-radius: calc(var(--uib-line-weight) / 2);
overflow: hidden;
transform: translate3d(0, 0, 0);
}

.line-wobble::before {
content: '';
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: var(--uib-color);
opacity: 0.1;
}

.line-wobble::after {
content: '';
height: 100%;
width: 100%;
border-radius: calc(var(--uib-line-weight) / 2);
animation: wobble var(--uib-speed) ease-in-out infinite;
transform: translateX(-90%);
background-color: var(--uib-color);
}

@keyframes wobble {
0%,
100% {
transform: translateX(-90%);
}

50% {
transform: translateX(90%);
}
}

/*<!---------------------------------------------------------------------- THEME_SWITCH ---------------------------------------------------------------------->*/

:root {
  /* Start of dark/light mode css3 variables for website */
  --bg-color: rgb(240, 240, 240);
  --load:black;
  --text-color:black;
  --bg-load:rgba(0, 0, 0, 0.253);
}
/* dark mode css variables */
[data-theme="dark"] {
  --bg-color: #171717;
  --load:white;
  --text-color:white;
  --bg-load:rgba(255, 255, 255, 0.253);
}

/* css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center; 

 }
.theme-switch {
  display: inline-block;
  height: 50px;
  position: absolute;
  left: 1%;
  top: 1.5%;
  width: 24px;
  display: none;
}

.theme-switch input {
  display:none;
}
.slider {
  background-color: rgb(0, 0, 0);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: rgb(255, 255, 255);
  top: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 16px;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  transform: translateY(26px);
  background-color: red;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
