/*-- BODY --*/

body {
    background: var(--bg-color);
    background-image: radial-gradient(var(--dots) 1px, transparent 0);
    background-size: 30px 30px;
  }

  a{
    text-decoration: none;
    color: var(--icon-color);
    font-family: N27;
  }
  a:hover{
    color: red;
  }

/*-- FONT --*/

  @font-face {
    font-family: N27;
    src: url("fonts/N27-Regular.otf");
  }
  @font-face {
    font-family: A1;
    src: url("fonts/AnticallyRegular.ttf");
  }

  .subText{
    font-family: A1;
    font-size: 2.5vw;
    color: var(--heading-color);
  }

/* -- SCROLL_BAR */

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: var(--scroll-color); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: var(--scroll-hover-color); 
  }

/*-- SCROLL_TO_TOP --*/

.scroll {
  cursor: pointer;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 130px;
  right: -80px;
  border-radius: 10px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  var(--top-scroll-color) 0%, var(--top-scroll-color) 81.3% );
  color: #fff;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 5px 0px var(--top-scroll-shadow-color);
  transition: 300ms;
  z-index: 99;
}

.scroll i {
  margin-top: 10px;
  text-shadow: 0 0 2px #fff;
}

.scroll:hover i {
  animation-name: rotate;
  animation-duration: 300ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes rotate {
  from {margin-top: 15px}
  to {margin-top: 5px}
}

.visible {
  right: 30px;
  transition: all 400ms;
  transform: rotate(360deg)
}

/*-- HEADING --*/

  .blockquote{
    position: relative;
    font-family: N27;
    margin-top: 13em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  span{
    font-size: 5vw;
    color: var(--heading-color);
    letter-spacing: 0.4em;
    text-shadow: .065em .065em 0 var(--heading-shadow-color);
    transition: all 0.4s ease-in-out;
  }

  span:hover{
    cursor: pointer;
    text-shadow: none;
  }

/*-- THEME --*/

  :root {
    --bg-color: #eeeeed;
    --button-bg: #eeeded;
    --icon-color: #171717;
    --bg-color-o: #171717;
    --footerBg : rgb(228, 228, 228, 0.65);
    --heading-color: #171717;
    --heading-shadow-color: #9d9e9f;
    --light-bg:rgb(212, 212, 212);
    --light-bg-w:rgb(212, 212, 212);
    --scroll-color:#000000;
    --scroll-background-color:transparent;
    --scroll-hover-color:#404040;
    --top-scroll-color:#252525;
    --top-scroll-shadow-color:#888;
    --shadow : skyblue;
    --light-b: #171717;
    --scroll-down: #252525;
    --dots:#afafaf;
    --image-loader-bg: #eeeeee;
    --image-shine1: #d6d6d6;
    --image-shine2: #f5f5f5;
  }
  [data-theme="dark"] {
    --bg-color: #171717;
    --button-bg: rgb(20, 20, 20);
    --icon-color: #e4e4e4;
    --bg-color-o: #e4e4e4;
    --footerBg : #171717;
    --heading-color: #e4e4e4;
    --heading-shadow-color: #454545;
    --light-bg:#252525;
    --scroll-color:#ffffff;
    --scroll-background-color:black;
    --scroll-hover-color:#cccccc;
    --top-scroll-color:#252525;
    --top-scroll-shadow-color:black;
    --light-b:rgb(61, 61, 61);
    --scroll-down: rgb(228, 228, 228);
    --dots: #4b4b4b;
    --image-loader-bg: #111111;
    --image-shine1: #292929;
    --image-shine2: #0a0a0a;
  }

  .clear {
    clear: both;
  }
  
  .theme-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: 8em;
    margin: 1em;
    height: 2.5em;
    font-size: 20px;
    font-family: N27;
    color: var(--bg-color-o);
    background-color: var(--button-bg);
    padding: 0.5em;
    border: 1px solid var(--light-b);
    box-shadow: 6px 6px 0px var(--light-b);
    transition: .4s;
  }

  .theme-switch .slider {
    position: absolute;
    background-color: #222;
    margin-left: 5.5em;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 4px solid #222;
    transform: rotate(-120deg);
    box-shadow: inset 0px 6px #999, inset 0px 6px 1px 1px #999;
    -moz-box-shadow: inset 0px 6px #999, inset 0px 6px 1px 1px #999;

  }

  #namee{
    margin-top: 0.8em;
  }

  .theme-switch:hover{
    color: var(--bg-color);
    cursor: pointer;
    box-shadow: none;
    transform: translateX(6px) translateY(6px);
    background-color: var(--bg-color-o);
    border: none;
  }

  .theme-switch input[type=checkbox]:checked + .slider {
    transform: rotate(360deg);
    box-shadow: none;
    border: 4px solid #F28C38;
    background-color: #F28C38;
  }

  .theme-switch input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
  }
  
  .slider {
    transition: 300ms ease;
  }

/*-- SOCIAL_SWITCH --*/

.social_switch{
    /*position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 1em;
    z-index: 9999;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    margin-top: 3em;
    align-self: center;
    justify-content: center;
    margin-bottom: 30em;
}

.instagram{
    font-size: 20px;
    margin: 1em;
    width: 7.7em;
    height: 2.5em;
    padding: 0.5em;
    color: var(--bg-color-o);
    background-color: var(--button-bg);
    border: 1px solid var(--light-b);
    transition: .4s;
    fill: var(--icon-color);
    box-shadow: 6px 6px 0px var(--light-b);
} 
.instagram:hover{
    fill: var(--bg-color);
    color: var(--bg-color);
    cursor: pointer;
    box-shadow: none;
    transform: translateX(6px) translateY(6px);
    background-color: var(--bg-color-o);
    border: none;
}

.gaming_moments{
    font-size: 20px;
    width: 11em;
    margin: 1em;
    height: 2.5em;
    padding: 0.5em;
    color: var(--bg-color-o);
    background-color: var(--button-bg);
    border: 1px solid var(--light-b);
    transition: .4s;
    fill: var(--icon-color);
    box-shadow: 6px 6px 0px var(--light-b);
}
.gaming_moments:hover{
    fill: var(--bg-color);
    color: var(--bg-color);
    cursor: pointer;
    box-shadow: none;
    transform: translateX(6px) translateY(6px);
    background-color: var(--bg-color-o);
    border: none;
}

.contact{
    font-size: 20px;
    width: 6.7em;
    margin: 1em;
    height: 2.5em;
    padding: 0.5em;
    color: var(--bg-color-o);
    background-color: var(--button-bg);
    border: 1px solid var(--light-b);
    transition: .4s;
    fill: var(--icon-color);
    box-shadow: 6px 6px 0px var(--light-b);
}
.contact:hover{
    fill: var(--bg-color);
    color: var(--bg-color);
    cursor: pointer;
    box-shadow: none;
    transform: translateX(6px) translateY(6px);
    background-color: var(--bg-color-o);
    border: none;
}

.me{
  font-size: 20px;
  width: auto;
  margin: 1em;
  height: 2.5em;
  padding: 0.5em;
  color: var(--bg-color-o);
  background-color: var(--button-bg);
  border: 1px solid black;
  transition: .4s;
  fill: var(--icon-color);
  box-shadow: 6px 6px 0px var(--light-b);
}
.me:hover{
  fill: var(--bg-color);
  color: var(--bg-color);
  cursor: pointer;
  box-shadow: none;
  transform: translateX(6px) translateY(6px);
  background-color: var(--bg-color-o);
  border: none;
}

.photographyhood{
  font-size: 20px;
  width: 11.5em;
  margin: 1em;
  height: 2.5em;
  padding: 0.5em;
  color: var(--bg-color-o);
  background-color: var(--button-bg);
  border: 1px solid black;
  transition: .4s;
  fill: var(--icon-color);
  box-shadow: 6px 6px 0px var(--light-b);
}
.photographyhood:hover{
  fill: var(--bg-color);
  color: var(--bg-color);
  cursor: pointer;
  box-shadow: none;
  transform: translateX(6px) translateY(6px);
  background-color: var(--bg-color-o);
  border: none;
}

svg{
  margin-left: 0.5em;
  margin-bottom: 0.2em;
}

/* -- SCROLL_DOWN -- */

/*.scrolldown {
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--scroll-down);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  cursor: pointer;
  margin-top: 10em;
  transition: .4s ease-in-out;
}

.scrolldown:hover{
  scale: 1.1;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--scroll-down);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #1a1a1a66;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--scroll-down);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}*/

/*-- IMAGES --*/

.i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 5em;
}

.image-container {
  position: relative;
  width: 60em;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .4s ease-in-out;
}
.image-container::after{
  display: block;
  content: "";
  position: absolute;
  bottom: 5.5em;
  top: 0;
  left: 0;
  right: 0;
  background: var(--image-loader-bg);
  background: linear-gradient(110deg, var(--image-shine1) 8%, var(--image-shine2) 18%, var(--image-shine1) 33%);
  background-size: 200% 400%;
  -webkit-animation: 4.5s shine linear infinite;
          animation: 4.5s shine linear infinite;
  transition: all .4s ease-in-out;
}
.image-container.loaded::after {
  opacity: 0;
}
.image-container.hide-after::after {
  display: none;
}
@-webkit-keyframes shine {
  to {
    background-position-x: -800%;
  }
}

@keyframes shine {
  to {
    background-position-x: -800%;
  }
}

.image-container_p {
  position: relative;
  width: 30em;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .4s ease-in-out;
}
.image-container_p::after{
  display: block;
  content: "";
  position: absolute;
  bottom: 5.5em;
  top: 0;
  left: 0;
  right: 0;
  background: var(--image-loader-bg);
  background: linear-gradient(110deg, var(--image-shine1) 8%, var(--image-shine2) 18%, var(--image-shine1) 33%);
  background-size: 200% 400%;
  -webkit-animation: 4.5s shine linear infinite;
          animation: 4.5s shine linear infinite;
  transition: all .4s ease-in-out;
}
.image-container_p.loaded::after {
  opacity: 0;
}
.image-container_p.hide-after::after {
  display: none;
}
@-webkit-keyframes shine {
  to {
    background-position-x: -800%;
  }
}

@keyframes shine {
  to {
    background-position-x: -800%;
  }
}

.image-container img {
  width: 100%;
  min-height: 3.8em;
  object-fit: fill;
  border: 1px solid var(--light-b);
  box-shadow: 16px 16px 0px var(--light-b);
  transition: .4s ease-in-out;
}
.image-container_p img {
  width: 100%;
  min-height: 3.8em;
  object-fit: fill;
  border: 1px solid var(--light-b);
  box-shadow: 16px 16px 0px var(--light-b);
  transition: .4s ease-in-out;
}

.image-container:hover, .image-container_p:hover{
  cursor: pointer;
}
.image-container:hover img {
  cursor: pointer;
  box-shadow: none;
  transform: translateX(16px) translateY(16px);
  background-color: var(--bg-color-o);
}

.image-container_p:hover img {
  cursor: pointer;
  box-shadow: none;
  transform: translateX(16px) translateY(16px);
  background-color: var(--bg-color-o);
}

.ih{
  position: absolute;
  font-family: N27;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  margin-top: 17px;
  z-index: -1;
  opacity: 1;
  color: var(--icon-color);
}

/* -- DATA -- */

.data_a{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  align-self: flex-start;
  justify-content: space-between;
  margin-top: 1em;
  row-gap: 1.5em;
}

.data_p{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 35vw;
  margin-top: 1em;
}

/* -- COMPARE -- */

.compare{
  font-size: 20px;
  font-weight: bold;
  width: auto;
  height: 2.5em;
  padding: 0.5em;
  color: var(--bg-color-o);
  background-color: var(--button-bg);
  border: 1px solid black;
  transition: .4s;
  fill: var(--icon-color);
  box-shadow: 6px 6px 0px var(--light-b);
  font-family: N27;
  margin-top: 1em;
  margin-right: 0.7em;
}
.compare:hover{
  cursor: pointer;
  background-color: var(--light-bg);
}
.compare:active{
  transform: translateX(6px) translateY(6px);
  border: none;
  box-shadow: none;
}

/* -- INFO -- */

.infoDownWrap{
  display: flex;
  align-items: start;
  justify-content: center;
  margin-right: -0.65em;
}

.info{
  overflow: hidden;
  font-size: 20px;
  color: var(--bg-color-o);
  background-color: var(--button-bg);
  border: 1px solid var(--light-b);
  transition: .4s;
  box-shadow: 6px 6px 0px var(--light-b);
  font-family: N27;
  margin-top: 1em;
  margin-left: 0.8em;
  margin-right: 0.7em;
}
.info:hover{
  cursor: pointer;
  background-color: var(--light-bg);
}

.tab {
  width: 100%;
  color: var(--info-text-color);
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 0.4em;
  background: var(--info-background-color);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.35s;
  /* Icon */
}
input{
  display: none;
}
.tab-label:hover {
  background: var(--info-hover-color);
}
.tab-label::after {
  content: ">";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  font-weight: bold;
  color: var(--info-text-color);
  background: var(--info-background-color);
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: var(--info-background-color);
  cursor: pointer;
}
.tab-close:hover {
  background: var(--info-hover-color);
}

input:checked + .tab-label {
  background: var(--bg-color);
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

/* -- DOWNLOAD -- */

.download{
  font-size: 20px;
  font-weight: bold;
  width: auto;
  height: 2.45em;
  padding: 0.5em 0.35em 0.5em 0.5em;
  /* padding-right: 0.8em; */
  color: var(--bg-color-o);
  background-color: var(--button-bg);
  border: 1px solid var(--light-b);
  transition: .4s;
  fill: var(--icon-color);
  box-shadow: 6px 6px 0px var(--light-b);
  font-family: N27;
  margin-top: 1em;
}
.download:hover{
  cursor: pointer;
  background-color: var(--light-bg);
}
.download:active{
  transform: translateX(6px) translateY(6px);
  border: none;
  box-shadow: none;
}


/* FOOTER */
footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em;
  margin-top: 20em;
  background-color: var(--button-bg);
  border: 1px solid black;
  transition: .4s;
  box-shadow: 6px 6px 0px var(--light-b);
}
footer:hover{
  cursor: pointer;
  box-shadow: none;
  transform: translateX(6px) translateY(6px);
}
.fp{
  margin: 1em 1.5em 1em 1.5em;
  transition: .2s ease-in-out;
  }
  .fp:hover{
  cursor: pointer;
  scale: 0.95;
  }
  .fp:active{
  scale: 0.85;
  }
  .copyright{
  margin: 1em;
  color: var(--icon-color);
  text-align: center;
  font-family: N27;
  font-weight: bold;
  }
  .design{
  margin: 1em;
  margin-top: 1.7em;
  margin-right: 1.75em;
  color: var(--icon-color);
  text-align: center;
  font-family: N27;
  font-weight: bold;
  }
  .namet{
    font-size: 2em;
    font-family: A1;
    text-shadow: none;
    letter-spacing: 0;
  }
#year-c{
  text-shadow: none;
  font-size: 1em;
  letter-spacing: 0;
}



.checkBoxcontainer input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkBoxcontainer {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  user-select: none;
  margin-top: 1.25em;
}

.checkmark {
  position: relative;
  height: 3.25em;
  width: 3.25em;
  color: var(--bg-color-o);
  background-color: var(--button-bg);
  border: 1px solid black;
  fill: var(--icon-color);
  box-shadow: 6px 6px 0px var(--light-b);
  transition: .2s ease-in-out;
  z-index: 2;
  margin-left: 1em;
}
.checkmark:active{
  transform: translateX(6px) translateY(6px);
  border: none;
  box-shadow: none;
}

.icon {
  margin: 0.2em;
  fill: var(--icon-color);
  transition: .4s ease-in-out;
}
.heart{
  position: absolute;
  right: 0;
  scale: 0;
  margin-right: 0.65em;
  margin-top: 0.65em;
  transition: .2s ease-in-out;
}

.checkmark:hover {
  background-color: white;
}

.checkmark:hover .icon {
  fill: black;
  transform: rotate(-8deg);
  transform-origin: bottom left;
}

.checkBoxcontainer input:checked ~ .checkmark {
  background-color: #f91880;
}

.checkBoxcontainer input:checked ~ .like {
  color: white;
  animation: 0.6s up_3951;
}

.checkBoxcontainer input:checked ~ .checkmark .icon {
  fill: white;
  scale: 0;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkBoxcontainer input:checked ~ .checkmark:after {
  display: block;
}

.checkBoxcontainer input:checked ~ .checkmark .heart{
  fill: white;
  scale: 1;
  animation: bounce 1s ease-in-out;
}

@keyframes bounce {
  0%{
    scale: 0;
  }
  20%{
    scale: 1.2;
  }
  40%{
    scale: 0.8;
  }
  60%{
    scale: 1.1;
  }
  80%{
    scale: 0.9;
  }
  100%{
    scale: 1;
  }
}

@keyframes up_3951 {
  100% {
    transform: translateY(-2em);
    z-index: 55;
  }
}

@keyframes jump_3951 {
  50% {
    transform-origin: center;
    transform: translateY(-0.5em) rotate(-8deg);
  }

  100% {
    transform-origin: center;
    transform: translateY(0em);
  }
}

.likeCount{  
  font-family: N27;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
  width: 3em;
  height: 3em;
  background-color: limegreen;
  border: 1px solid black;
  box-shadow: 6px 6px 0px var(--light-b);
  color: white;
  border-radius: 5px;
  transform: translateY(.25em);
}

.downloadCount{
  margin-left: 0.5em;
  font-size: 1em;
  text-shadow: none;
}

.mouse {
  position: absolute;
  bottom: 15%;
  transition: all .4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.arrow{
  font-family: N27;
  font-size: 1.5em;
  transform: rotate(90deg);
}
.arrow:nth-child(2), .arrow:nth-child(3){
  margin-top: -2.25em;
}

.arrow:nth-child(3){
  animation: 1.5s move infinite ease-in-out;
}
.arrow:nth-child(2){
  animation: 1.5s move infinite ease-in-out;
  animation-delay: .2s;
}
.arrow:nth-child(1){
  animation: 1.5s move infinite ease-in-out;
  animation-delay: 0.4s;
}

@keyframes move {
  0%{
    transform: translateY(0px) rotate(90deg);
  }
  50%{
    transform: translateY(5px) rotate(90deg);
  }
  100%{
    transform: translateY(0px) rotate(90deg);
  }
}