.i img{
    content: var(--bg-video);
  }
  
  * {
    box-sizing: border-box;
  }
  
  #myVideo {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  
  /*body {
    color: #fff;
    background: linear-gradient(90deg, var(--bg-gredient1), var(--bg-gredient2), var(--bg-gredient3), var(--bg-gredient4));
    background-size: 400% 400%;
    -webkit-animation: gradientBG 7s ease infinite forwards;
    animation: gradientBG 7s ease infinite forwards;
  }
  
  .con {
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
  }
  
  @-webkit-keyframes gradientBG {
    0% {
      background-position: 0% 20%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }*/
  
  svg{
    fill: white;
  }
  
  @font-face {
    font-family: Caviar Dreams;
    src: url("fonts/caviardreams.ttf");
  }
           
  @font-face {
      font-family: Caviar Dreams;
      src: url("fonts/caviardreams.ttf");
      font-weight: bold;
  }
  
  @font-face {
      font-family: N27;
      src: url("fonts/N27-Regular.otf");
  }
             
  @font-face {
      font-family: N27I;
      src: url("fonts/N27-RegularItalic.otf");
      font-weight: bold;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: var(--top-scrollbar-color); 
    border-radius: 25px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--top-scrollbar-hover); 
  }
  
  .twitter{
    font-size: 20px;
    transition: .4s;
    margin-right: 15px;
    margin-top: 10px;
    float: right;
    color: var(--icon-color);
  }
  
  .twitter:hover{
    color: red;
    cursor: pointer;
  }
  
  .instagram{
    font-size: 20px;
    transition: .4s;
    float: right;
    margin-right: -20px;
    margin-top: 20px;
    color: var(--icon-color);
  }
  
  .instagram:hover{
    color: red;
    cursor: pointer;
  }
  
  .linkedin{
    font-size: 20px;
    transition: .4s;
    float: right;
    margin-right: -20px;
    margin-top: 55px;
    color: var(--icon-color);
  }
  
  .linkedin:hover{
    color: red;
    cursor: pointer;
  }
  
  .blockquote {
      margin-top: 120px;
      margin-bottom: 80px;
  }
  
  .card{
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--card-color);
    z-index: 1;
    width: 300px;
    height: 300px;
    backdrop-filter: blur(5px);
    overflow: hidden;
    animation-name: card;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin: 2px;
    transition: .2s ease-in-out;
  }
  
  .card:hover{
    scale: 1.05;
  }
  
  
  .card:active {
    top: 2px;
  }
  
  @keyframes card {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
  }
  
  .bi-code-slash{
    display: block;
    max-width: 96px;
    height: 96px;
    margin-top: 60px;
  }
  
  img {
    display: block;
    max-width: 96px;
    height: 96px;
    margin-top: 60px;
  }
  
  .card_t {
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    transform: skew(30deg);
    font-weight: bold;
  }
  
  .btn-primary{
      margin-top: 20px;
      margin-bottom: 50px;
      font-family: Caviar Dreams;
      font-weight: bold;
      font-size: 20px;
      background: transparent;
      border: none;
      border-radius: 0px;
      display: inline-block;
      cursor: pointer;
      transform: skew(-30deg);
      transition: .4s;
  }
  .btn-primary:hover{
      background: red;
  }
  
  .copyright{
    margin-top: 60px;
    font-family: Caviar Dreams;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 60px;
    color: var(--profile-color);
  }
  
  b {
    background: linear-gradient(0deg, var(--profile-color), var(--profile-color)) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 150ms;
    --bg-h: 10%;
  }
  b:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }
  
  .underline {
    padding-bottom: 2px;
    --bg-h: 2px;
  }
  
  b {
    text-decoration: none;
    color: inherit;
    line-height: 1;
  }
  
  .tpd{
    display: block;
  }
  
  .hamburger{
    margin: 1em;
    display: none;
  }
  
  .hamburger .navbar{
    display: none;
  }
  
  input[type = "checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
  }
  
  .bar {
    display: block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 20px;
  }
  
  .bar span {
    position: absolute;
    width: 25px;
    height: 3.5px;
    background: #f1faee;
    border-radius: 50px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
  }
  
  .bar span.top {
    top: 0;
  }
  
  .bar span.middle {
    top: 8.5px;
  }
  
  .bar span.bottom {
    bottom: 0;
  }
  
  input[type]:checked ~ span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 28px;
    left: 2.5px;
  }
  
  input[type]:checked ~ span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 24px;
    bottom: -1px;
    box-shadow: 0 0 10px #495057;
  }
  
  input[type]:checked ~ span.middle {
    transform: translateX(-20px);
    opacity: 0;
  }
  
  .tbds{
    display: none;
  }
  
  .card_t1 {
    font-family: Caviar Dreams;
    font-size: 1.2em;
    color: var(--icon-color);
    font-weight: bold;
    transition: .4s ease-in-out;
  }
  .card_t1:hover{
    color: red;
    cursor: pointer;
  }
  
  @media(max-width:768px){
    .tbds{
      display: block;
    }
    .tbds .navbar{
      display: block;
    }
    .tpd{
      display: none;
    }
    .hamburger{
      display: block;
    }
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
    .blockquote {
      margin-top: 80px;
    }
    body.blur {
    backdrop-filter: blur(5px);
    }
    body.blur > *:not(.tbds) {
      filter: blur(5px);
    }
  }
  
  li{
    list-style: none;
  }
  
  .navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }
  
  .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }
  
  .hamburger{
    width: 30px;
    display: block;
    cursor: pointer;
    z-index: 5;
  }
  
  .bar{
    display: block;
    width: 25px;
    clip-path: polygon(5px 0%, 100% 0, 100% calc(100% - 5px), calc(100% - 5px) 100%, 0 100%, 0% 5px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 3px;
    margin: 5px auto;
    transition: all .4s ease-in-out;
    background-color: var(--icon-color);
  }
  .hamburger:hover .bar{
    background-color: red;
  }
  
  .nav-menu{
    position: fixed;
    left: -100%;
    padding: 1em;
    gap: 0;
    top: 70px;
    z-index: 3;
    flex-direction: column;
    border-radius: 15px;
    background: var(--ham);
    width: 100%;
    text-align: center;
    align-content: center;
    transition: .4s;
  }
  
  .nav-menu.active{
    left: 0;
  }

  :root {
    /* Start of dark/light mode css3 variables for website */
    --bg-color: white;
    --bg-gredient1:#ffffff;
    --bg-gredient2:#d5d5d5;
    --bg-gredient3:#e7e5e4;
    --bg-gredient4:#7c7c7c;
    --bg-video:url(WavyDot_Light_S.gif);
    --icon-color:black;
    --profile-color:black;
    --profile-bg:black;
    --profile-shadow:rgba(255,255,255,0.77);
    --card-color:black;
    --top-scrollbar-color:black;
    --top-scrollbar-hover:#454545;
    --ham:rgb(243, 242, 242);
  }
  /* dark mode css variables */
  [data-theme="dark"] {
    --bg-color: #000000;
    --bg-gredient1:#323232;
    --bg-gredient2:#424242;
    --bg-gredient3:#525252;
    --bg-gredient4:#626262;
    --bg-video:url(WavyDot_Dark_S.gif);
    --icon-color:white;
    --profile-color:white;
    --profile-bg:#999999;
    --profile-shadow:black;
    --card-color:#171717;
    --top-scrollbar-color: #2e2e2e;
    --top-scrollbar-hover:#5c5a5a;
    --ham:#171717;
  }
  
  body {
      background-color: var(--bg-color);
      color: var(--font-color);
    }
  
  /* css to style it like a toggle switch*/
  .theme-switch-wrapper {
    display: flex;
    align-items: center; 
  
   }
  .theme-switch {
    display: inline-block;
    height: 50px;
    position: absolute;
    margin-left: 12px;
    margin-top: 15px;
    width: 24px;
  }
  
  .theme-switch input {
    display:none;
  }
  .slider {
    background-color: rgb(0, 0, 0);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: rgb(255, 255, 255);
    top: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
  }
  
  input:checked + .slider {
    background-color: white;
  }
  
  input:checked + .slider:before {
    transform: translateY(26px);
    background-color: black;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  
  @media(max-width:768px){
  
    .theme-switch1 {
      position: relative;
      width: 120px;
    }
  
    .theme-switch1 input {
      display:none;
    }
    .slider1 {
      cursor: pointer;
      position: relative;
    }
  
    #namee{
      color: var(--icon-color);
      font-family: Caviar Dreams;
      font-weight: bold;
      font-size: 1.15em;
      transition: .4s ease-in-out;
    }
    #namee:hover{
      cursor: pointer;
      color: red;
    }
  }
  
  .nav__link {
    letter-spacing: 2vw;
    color: var(--profile-color);
    display: grid;
  }
  .nav__link--text {
    grid-area: 1/1;
    transition: opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95), transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .nav__link--text .word {
    white-space: nowrap;
  }
  .nav__link--text .char {
    display: inline-block;
    transform-origin: 50% 50% 0.4em;
    transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
    transition-delay: calc(0ms + var(--char-index) * 25ms);
    backface-visibility: hidden;
    margin: 0 -0.02em;
  }
  .nav__link--text:nth-child(1) {
    font-family: "N27";
    font-size: 6vw;
    text-transform: uppercase;
  }
  
  .nav__link--text:nth-child(2) {
    font-family: "caviar Dreams";
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: bold;
    color: var(--profile-color);
    opacity: 0;
  }
  .nav__link--text:nth-child(2) .char {
    transform: rotate3d(1, -0.5, 0, 90deg);
  }
  .nav__link:hover .nav__link--text {
    transform: translateX(var(--link-translate-x));
  }
  .nav__link:hover .nav__link--text:nth-child(1) {
    opacity: 0;
  }
  .nav__link:hover .nav__link--text:nth-child(1) .char {
    transform: rotate3d(1, 0.3, 0, -90deg);
  }
  .nav__link:hover .nav__link--text:nth-child(2) {
    opacity: 1;
  }
  .nav__link:hover .nav__link--text:nth-child(2) .char {
    transform: rotate3d(0, 0, 0, 90deg);
  }